# https://editorconfig.org/

root = true

[*]
end_of_line = lf
# Keep in sync with `.vscode/settings.json`!
insert_final_newline = true

[*.js]
# Keep in sync with `.vscode/settings.json`!
indent_style = tab

[*.json]
# Keep in sync with `.vscode/settings.json`!
indent_style = tab

[*.ts]
# Keep in sync with `.vscode/settings.json`!
indent_style = tab

[*.yaml]
# Keep in sync with `.vscode/settings.json`!
indent_size = 4
