# configuration for various editors and IDEs
# https://editorconfig.org/

root = true

[*]
# Keep in sync with `.vscode/settings.json`!
end_of_line = lf
# Keep in sync with `.vscode/settings.json`!
insert_final_newline = true

[*.json]
# Keep in sync with `.vscode/settings.json`!
indent_style = tab

[*.{yaml,yml}]
# Keep in sync with `.vscode/settings.json`!
indent_size = 4
