# Tag commits created with the command `npm version`
git-tag-version = true
# https://docs.npmjs.com/cli/v9/using-npm/config#git-tag-version

# Ensure git commits created with the command `npm version` have consistent messages
message = Release version %s
# https://docs.npmjs.com/cli/v9/using-npm/config#message

# for Jest
node-options = --experimental-vm-modules
# https://jestjs.io/docs/ecmascript-modules

# Sign git commits created with the command `npm version`
# all git commits should be signed
sign-git-commit = true
# https://docs.npmjs.com/cli/v9/using-npm/config#sign-git-commit

# Sign git tags created with the command `npm version`
# all git tags should be signed
sign-git-tag = true
# https://docs.npmjs.com/cli/v9/using-npm/config#sign-git-tag

# Ensure git tags created with the command `npm version` are named consistently
tag-version-prefix = v
# https://docs.npmjs.com/cli/v9/using-npm/config#tag-version-prefix
